@import '~nativescript-theme-core/css/lime.css';

.action-bar{
  background-color: #eee0cb;
  color: #000000;
}
.page{
  background: linear-gradient(#839755 0%, #eee0cb 50%, #839755 100%);
}
FlexboxLayout{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.btn{
  background-color: #880d1e;
  color: #eee0cb;
  font-size: 18;
  margin-bottom: 55;
  width: 80%;
}
Label{
  font-size: 20;
}
.picbtn{
  background-color: #2274a5;
}
