FlexboxLayout{
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}
Slider{
  width: 90%;
}
Label{
  font-size: 20;
  /* color: #383838; */
}
/* StackLayout Label.dim{
  font-size: 22;
} */
/* GridLayout{
  width: 80%;
  height: 300;
  border-width: 1px;
  border-color: #111111;
  border-style: solid;
}
.slid{


  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
} */
.btn{
  background-color: #880d1e;
  color: #eee0cb;
  font-size: 18;
  margin-bottom: 35;
  /* width: 80%; */
}
.slider{
  color: #2274a5;
  background-color: #2274a5;
}
.bord{
  /* width: 90%; */
  border-bottom-color: #303030;
  border-bottom-width: 2;
}
