<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Puzzle Options"></Label>
</ActionBar>
<ScrollView>
  <FlexboxLayout class="page">
    <StackLayout class="m-t-30 m-b-30 bord">
      <StackLayout class="m-b-20">
        <Label class="m-t-10 m-b-10 text-center" text="Color for Blank Tile:"></Label>
        <Label width="50" height="50" backgroundColor="{{color}}"></Label>
      </StackLayout>
      <StackLayout class="m-b-10">
        <Label class="text-center" text="Red"></Label>
        <Slider class="slider" value="0" (valueChange)="onRedSliderChange($event)" minValue="0" maxValue="255"></Slider>
      </StackLayout>
      <StackLayout class="m-b-10">
        <Label class="text-center" text="Green"></Label>
        <Slider class="slider" value="0" (valueChange)="onGreenSliderChange($event)" minValue="0" maxValue="255"></Slider>
      </StackLayout>
      <StackLayout class="m-b-20">
        <Label class="text-center" text="Blue"></Label>
        <Slider class="slider" value="0" (valueChange)="onBlueSliderChange($event)" minValue="0" maxValue="255"></Slider>
      </StackLayout>
    </StackLayout>
    <StackLayout class="bord m-b-30">
      <StackLayout class="m-b-20">
        <Label class="text-center" [text]="'Puzzle Dimensions: ' + size + ' x ' + size"></Label>
        <Slider class="slider" value="2" (valueChange)="onSizeSliderChange($event)" minValue="2" maxValue="10"></Slider>
      </StackLayout>
    </StackLayout>
    <Button class="btn btn-primary btn-rounded-sm btn-active" text="Next >" [nsRouterLink]="['/choose']"></Button>
  </FlexboxLayout>
</ScrollView>
