<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Edit Photo"></Label>
</ActionBar>
<ScrollView>
  <FlexboxLayout class="page">
    <StackLayout>
      <Button isEnabled="false" class="picbtn btn btn-primary btn-rounded-sm btn-active" text="EDIT PHOTO" (tap)="onEditPhoto()"></Button>
      <FlexboxLayout *ngIf="imageSrc" class="img m-b-30">
        <Image width="300" height="300" [src]="imageSrc"></Image>
      </FlexboxLayout>
    </StackLayout>
    <Button class="btn btn-primary btn-rounded-sm btn-active" text="PLAY!" [nsRouterLink]="['/puzz']" clearHistory="true"></Button>
  </FlexboxLayout>
</ScrollView>
