FlexboxLayout Label{
  font-size: 22;
  font-weight: bold;
  /* border-width: 1;
  border-color: #000000; */


}



FlexboxLayout{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
