.moves{
  font-size: 22;
  font-weight: bold;
  /* border-width: 1;
  border-color: #000000; */
  margin-top: 55;

}

@keyframes bgcol {
    0%   { background-color: red; }
    25%  { background-color: yellow; }
    50%  { background-color: blue; }
    100% { background-color: green; }
}
.anim {
  animation-name: bgcol;
  animation-duration: 4s;
  animation-iteration-count: 7;
  /* background-color: red; */
}

FlexboxLayout{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.btn{
  background-color: #880d1e;
  color: #eee0cb;
  font-size: 18;
  margin-bottom: 55;
  /* width: 80%; */
}
.picbtn{
  width: 80%;
  /* background-color: #2274a5; */
}
