.moves{
  font-size: 22;
  font-weight: bold;
  margin-top: 55;
}
@keyframes bgcol{
    0%     { background-color: #eee0cb; }
    17%    { background-color: #839755; }
    33%     { background-color: #eee0cb; }
    50%    { background-color: #2274a5; }
    67%     { background-color: #eee0cb; }
    83%    { background-color: #880d1e; }
    100%   { background-color: #eee0cb; }
}
.anim{
  animation-name: bgcol;
  animation-duration: 4.6s;
  animation-delay: .4s;
  animation-iteration-count: 170;
}
.picbtn{
  background-color: #880d1e;
}
