<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="gameOver ? 'YOU WIN!!!' : 'Puzzle'"></Label>
</ActionBar>

<ScrollView>
  <FlexboxLayout class="page">
    <Label width="300" class="moves text-center" text="Moves: {{moves}}"></Label>

    <Label *ngIf="gameOver" #win class="win" text="you win!" (loaded)="onWin(win)"></Label>

    <GridLayout class="m-t-30 m-b-30" #grid (loaded)="onGridLoad(grid)" (touch)="onTouch($event)" backgroundColor="{{color}}"></GridLayout>

    <Button class="picbtn btn btn-primary btn-rounded-sm btn-active" [text]="gameOver ? 'play again!' : 'hint'" (tap)="tapHandler()"></Button>

  </FlexboxLayout>
</ScrollView>
