<ActionBar class="action-bar" [class.anim]="gameOver">
  <Label class="action-bar-title" #abtitle (loaded)="onLoadTitle(abtitle)" [text]="gameOver ? 'YOU WIN!!!' : 'Puzzle'"></Label>
</ActionBar>

<ScrollView>
  <FlexboxLayout class="page">
    <Label width="300" class="moves text-center" text="Moves: {{moves}}  Time: {{time}}s"></Label>

    <GridLayout class="m-t-30 m-b-30" #grid (loaded)="onGridLoad(grid)" (touch)="onTouch($event)" backgroundColor="{{color}}"></GridLayout>

    <Button class="picbtn btn btn-primary btn-rounded-sm btn-active" [text]="gameOver ? 'play again!' : 'hint'" (tap)="tapHandler()"></Button>

  </FlexboxLayout>
</ScrollView>
