<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Choose Photo"></Label>
</ActionBar>
<ScrollView>
  <FlexboxLayout class="page">
    <StackLayout class="m-t-30">
      <Button class="picbtn btn btn-primary btn-rounded-sm btn-active" text="CHOOSE PHOTO" (tap)="onChoosePhoto()"></Button>
      <FlexboxLayout *ngIf="image.src" class="img m-b-30">
        <Image [width]="width" [height]="width" [src]="image.src"></Image>
      </FlexboxLayout>
    </StackLayout>
    <Button [isEnabled]="!!image.src" [class.disabled]="!image.src" class="btn btn-primary btn-rounded-sm btn-active" text="NEXT" [nsRouterLink]="['/edit']"></Button>
  </FlexboxLayout>
</ScrollView>
