FlexboxLayout{
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

Label{
  font-size: 20;
}

.img{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn{
  background-color: #880d1e;
  color: #eee0cb;
  font-size: 18;
  margin-bottom: 55;
  /* width: 80%; */
}
.picbtn{
  width: 80%;
  background-color: #2274a5;
}
